* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  width: 70%;
  margin: 0 auto;
}

// ======Root Color=====
$deep-syan: #008b8b;
$syan: #47d1d1;
$white: #ffffff;
$black: #000000;
$f-color: #072f60;
$bg-body-color: #e9f2f7;
$bg-color: #f6f7f9;
$back-color: #ffd24d;

// ================= Common Css End===============

// ============Top Header Section Start=========
#top-header {
  width: 100%;
  background: linear-gradient(to top, $deep-syan, $syan);

  .top-header-all {
    width: 100%;
    display: flex;
    font-size: 19px;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;

    .top-header-left {
      width: 50%;
      display: flex;

      .mail {
        i {
          margin-right: 10px;
        }
        a {
          color: $white;
        }
      }
      .phone {
        margin-left: 20px;
        i {
          margin-right: 10px;
        }
        a {
          color: $white;
        }
      }
    }
    .top-header-right {
      .social {
        // display: flex;
        ul {
          display: flex;
          // background-color: red;

          li {
            //background-color: antiquewhite;
            margin: 2px;
            padding: 2px 10px;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            i {
              font-size: 16px;
              color: $white;
            }

            &:hover {
              background-color: $white;
              border-radius: 5px;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              -ms-border-radius: 5px;
              -o-border-radius: 5px;
              transition: 0.3s;
              -webkit-transition: 0.3s;
              -moz-transition: 0.3s;
              -ms-transition: 0.3s;
              -o-transition: 0.3s;
              i {
                color: $deep-syan;
              }
            }
          }
        }
      }
    }
  }
}

// =================Top Header Section End=-============

// =================Navber Section Start================
#navbar-section {
  width: 100%;
  background: linear-gradient($deep-syan, $syan 5%);

  .navbar-section-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  .navbar-left {
    width: 30%;
    // background-color: aquamarine;
    .logo {
      a {
        img {
          width: 170px;
        }
      }
    }
  }
  .navbar-right {
    ul {
      display: flex;

      li {
        margin: 0 5px;

        a {
          color: $black;
          font-size: 20px;
          padding: 10px 20px;
          border-radius: 5px;
          transition: all 0.3s linear;
          border: 1px solid $white;
          font-family: Arial, Helvetica, sans-serif;
          // background-color: antiquewhite;

          &:hover {
            color: $white;
            transition: 0.3s linear;
            border: 1px solid transparent;
            background-color: $deep-syan;
          }
        }
      }
    }
  }
}
// =================Navber Section End================

// =================Body Section Start================
#body-section {
  width: 100%;
  background-color: $bg-body-color;
  position: relative;

  &:after {
    content: "";
    width: 200px;
    height: 200px;
    left: 70px;
    top: 70px;
    animation: animated 1.5s linear infinite;
    animation-direction: alternate;
    background-image: url(../images/dot.png);
    background-repeat: no-repeat;
    position: absolute;
  }
  @keyframes animated {
    0% {
      top: 70px;
      left: 70px;
    }
    100% {
      top: 100px;
      left: 70px;
    }
    0% {
      top: 70px;
      left: 70px;
    }
  }

  .body-section-all {
    width: 100%;
    display: flex;
    position: relative;

    .body-section-left {
      width: 50%;
      // background-color: #47d1d1;
      align-self: center;
      color: $f-color;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

      .body-title {
        width: 90%;
        font-size: 45px;
      }
      .body-description {
        width: 70%;
        margin: 40px 0 40px 0;
        font-size: 20px;
        line-height: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      .course-link {
        a {
          color: $white;
          font-size: 18px;
          background-color: $deep-syan;
          border: 1px solid $white;
          padding: 15px 30px;
          border-radius: 5px;
          transition: all 0.2s linear;

          &:hover {
            background-color: $f-color;
            transition: 0.2s linear;
            border: 1px solid transparent;
          }
        }
      }
    }
    .body-section-right {
      width: 50%;

      .body-img {
        width: 100%;

        img {
          // width: 100%;
          display: block;
          //  background-image: url(../images/body-img.png);
          background-repeat: no-repeat;
          background-position: center;
          // background-color: bisque;
          // align-items: center;
          transform: translate(20%);
        }

        height: 800px;
        position: relative;
        z-index: 111;

        &:after {
          content: "";
          width: 640px;
          height: 600px;
          position: absolute;
          background-image: url(../images/kusum.png);
          background-repeat: no-repeat;
          animation: kusum 50s linear infinite;
          left: 0;
          top: 120px;
          z-index: -11;
        }

        @keyframes kusum {
          50% {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
// =================Body Section End================

// =================Tutorial Section Start===========
#tutorial-section {
  width: 100%;
  margin: 100px 0;

  .tutorial-section-all {
    .t-header {
      display: flex;
      justify-content: space-between;

      .t-header-left {
        align-self: center;

        h2 {
          font-size: 35px;
          color: $f-color;
        }
      }
      .t-header-right {
        ul {
          display: flex;

          li {
            margin: 0 5px;
            padding: 10px 15px;

            &:nth-child(1) a {
              color: $deep-syan;
            }

            a {
              color: $f-color;
              font-weight: 600;
              font-size: 18px;
              transition: all 0.2s linear;

              &:hover {
                color: $deep-syan;
                transition: 0.2s linear;
              }
            }
          }
        }
      }
    }
  }
  // ========Card Section Start===========
  .t-card-all {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .t-card {
      width: 23%;
      display: flex;
      margin-top: 50px;
      // border: 2px solid black;
      box-shadow: 3px 3px 10px #eaeaea;
      // background-color: #008B8B;
      border-radius: 10px;

      &:hover {
        .t-card-img {
          img {
            opacity: 0.7;
            transition: 0.3s linear;
            // background-color: rgba(0, 0, 0, .5);
            // background-color: $black;
          }
        }
      }

      .t-card-content {
        width: 100%;
        // background-color: #008B8B;
        .t-card-img {
          img {
            width: 100%;
            height: 180px;
            background-color: $black;
            border-radius: 10px 10px 0 0;
            transition: all 0.3s linear;
          }
        }
        .card-link {
          width: 80%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px 0;
          // background-color: bisque;

          a {
            color: $syan;
            background-color: $bg-color;
            font-size: 18px;
            padding: 8px 18px;
            border-radius: 5px;
            transition: all 0.2s linear;

            &:hover {
              color: $white;
              background-color: $deep-syan;
              transition: 0.2s linear;
            }
          }
          p {
            font-size: 18px;
            counter-reset: $f-color;
          }
        }
        .card-title {
          width: 80%;
          margin: 0 auto;
          a {
            color: $f-color;
            font-weight: 600;
            font-size: 17px;
            transition: all 0.3s linear;

            &:hover {
              color: $syan;
              transition: 0.2s linear;
            }
          }
        }
        .card-owner {
          width: 80%;
          margin: 0 auto;
          display: flex;
          padding: 20px 0;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
          p {
            margin-left: 15px;
            align-self: center;
          }
        }
        .line {
          width: 100%;
          height: 2px;
          background-color: #eaeaea;
          border-radius: 5px;
        }
        .card-footer {
          width: 80%;
          padding: 20px 0;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;

          .card-footer-l {
            span {
              &:nth-child(2) {
                padding-left: 5px;
              }
              i {
                color: $deep-syan;
                padding-right: 5px;
              }
            }
          }
          .card-footer-r {
            span {
              i {
                color: $back-color;
              }
            }
          }
        }
      }
    }
  }
}
// =================Tutorial Section End===========

// =================Feature Section Start=========
#feature-section {
  width: 100%;
  //   background-color: $bg-color;
  padding: 100px 0;
  z-index: -1;

  .feature-section-all {
    width: 100%;
    margin: 0 auto;

    .feature-title {
      margin: 0 auto;
      position: relative;
      h2 {
        text-align: center;
        font-size: 36px;
        // background-color: #072f60;
        z-index: 3;

        &:after {
          content: "";
          position: absolute;
          width: 180px;
          height: 30px;
          top: 4px;
          left: 32%;
          background-color: $back-color;
          border-radius: 20px;
          z-index: -1;
        }
      }
      //   .back {
      //     position: absolute;
      //     width: 100px;
      //     height: 36px;
      //     top: 0;
      //     left: 30%;
      //     background-color: $back-color;
      //     // z-index: -1;
      //   }
    }
    .feature-content-card {
      width: 100%;
      //   flex-wrap: wrap;
      //   display: flex;
      //   background-color: #008b8b;

      .feature-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        justify-content: space-between;

        a {
          width: 23%;
          margin-top: 40px;
          padding: 15px 20px;
          border-radius: 10px;
          box-shadow: 3px 3px 10px #eaeaea;
          transition: all 0.2s linear;
          color: $f-color;

          &:hover {
            background-color: $f-color;
            transition: 0.2s linear;
            color: $white;
          }

          .feature-card {
            img {
              width: 70px;
              height: 70px;
            }
            span {
              margin-left: 30px;
              align-items: center;
              font-size: 20px;
              font-weight: bold;
              //   background-color: #008b8b;
            }
          }
        }
      }
    }
  }
}
// =================Feature Section End=========
